* {
  font-family: "Courier New", Courier, monospace;
}
#game {
  width: 95vw;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
#game h1 {
  color: red;
  text-transform: uppercase;
}

#gameBoard {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  border: 5px solid darkgray;

  position: relative;
}

#gameInfo {
  position: absolute;
  font-size: 2em;
  left: 400px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameInfo #gameHearts {
  font-size: 0.5em;
}

#moveButtons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#moveButtons button {
  color: white;
  background-color: black;
  font-size: 3em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#moveButtons button:hover {
  background-color: rgb(59, 59, 59);
}

.wolf {
  position: absolute;
  width: 100px;
  left: calc(50% - 50px);
  height: 200px;
  top: calc(50% - 30px);
  transform: scaleX(-1);
}

#mainGameContent {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.shelf {
  position: absolute;
  height: 10px;
  width: 300px;
  background-color: rgb(0, 0, 0);
}

#leftTopShelf {
  top: 30%;
  left: -10%;
  transform: rotate(15deg);
}

#rightTopShelf {
  top: 30%;
  left: 70%;
  transform: rotate(-15deg);
}

#leftBottomShelf {
  top: 60%;
  left: -10%;
  transform: rotate(15deg);
}

#rightBottomShelf {
  top: 60%;
  left: 70%;
  transform: rotate(-15deg);
}

#wolfBottomRight,
#wolfBottomLeft,
#wolfTopRight,
#wolfTopLeft {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

#wolfBottomLeft,
#wolfTopLeft {
  transform: scaleX(-1);
}

#basketTopRight {
  position: absolute;
  left: 60%;
  top: 35%;
}

#basketBottomRight {
  position: absolute;
  left: 60%;
  top: 65%;
}

#basketTopLeft {
  position: absolute;
  left: 60%;
  top: 35%;
}

#basketBottomLeft {
  position: absolute;
  left: 60%;
  top: 65%;
}

#wolfParts {
  position: relative;
  height: 100%;
}

#eggs {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0%;
  left: 0%;
}

.egg {
  position: absolute;
  width: 20px;
  z-index: 50;
  display: none;
}
