{% extends "bootsrap/base.html" %} {% block scripts %} {{super()}}
<link rel="stylesheet" href="/static/css/cart.css" />
{% endblock %} {% block title} {{title}} {% endblock %} {% block content %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="{{url_for('store.index')}}" class="navbar-brand mx-5">Home</a>
    <ul class="nav justify-content-end">
      <li class="nav-item">Użytkownik: {{ current_user.email }}</li>
    </ul>
    <a href="{{url_for('auth.logout')}}" class="btn btn-sm btn-info mx-5"
      >Wyloguj</a
    >
  </div>
</nav>

<div class="container mt-3">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-0">Sklep</h2>
    <div class="d-flex gap-2">
      <a href="#" class="btn btn-sm btn-outline-secondary">
        <i class="bi bi-receipt pe-1">Zamówienia</i>
      </a>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Stan</th>
        <th>Koszyk</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price_pln }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <a
            href="{{ url_for('shop.add_to_cart', product_id=product.id) }}"
            class="btn btn-sm btn-outline-secondary"
            >Dodaj do koszyka</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
