body {
  background: rgb(61, 61, 61);
}

h1 {
  color: red;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2rem;
}

.box {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0 0 10px 1px rgb(6, 242, 88);
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  margin: 20px;
  background: rgb(6, 242, 88);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s;
}

a:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0);
}
