h1 {
  color: red;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.box {
  background: cornflowerblue;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
}

a {
  margin: 20px;
  background: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
}

a:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px 1px white;
}
