<h2>{{subject}}</h2>

<form action="/addForm" method="post">
    <span>{{res}}</span>
    <div>
        <label for="ubezpieczony">Ubezpieczony</label>
        <input name="ubezpieczony" id="ubezpieczony" type="checkbox">
    </div>
    <div>
        <label for="benzyna">Benzyna</label>
        <input name="benzyna" id="benzyna" type="checkbox">
    </div>
    <div>
        <label for="uszkodzony">Uszkodzony</label>
        <input name="uszkodzony" id="uszkodzony" type="checkbox">
    </div>
    <div>
        <label for="naped">Napęd 4x4</label>
        <input name="naped" id="naped" type="checkbox">
    </div>
    <button type="submit">Add</button>
</form>
