<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="nav">
        <ul class="list-container">
            <li class="list-item"><a href="/addCar">Add</a></li>
            <li class="list-item"><a href="/listCar">List</a></li>
            <li class="list-item"><a href="/deleteCar">Delete</a></li>
            <li class="list-item"><a href="/editCar">Edit</a></li>
            <li class="list-item"><a href="/searchCar">Search</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>
