body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.container {
  background: rgb(36, 36, 38);
  width: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;

  padding: 20px;
}

button,
input {
  padding: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px;
}

.files,
.folders {
  background: rgb(16, 152, 255);
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 400px;
  margin: 30px;
  box-shadow: 0 0 10px 1px rgb(16, 152, 255);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background: rgb(16, 152, 255);
  color: white;
  box-shadow: 0 0 10px 1px rgb(16, 152, 255);
  transition: 0.2s;
}

.folder,
.file {
  padding: 10px;
  text-align: center;
  background: white;
  color: black;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.folderForm,
.fileForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.905);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgb(16, 152, 255);
}
